.center {
    text-align: center;
}

.footer {
    margin-top: 100px;
    background-color: #00328b;
    color: white;
}

.header {
    height: 500px;
    margin-bottom: 50px;
    background: url(../images/miamibeach.jpg);
    background-position: 0% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}


/* Creates a tab character */
.left-tab {
    padding-left: 5em;
}


/* Creates a buffer for articles */
.spacer {
    margin-bottom: 35px;
}

.strongbuilt{
    color: #00328b;
    font-weight: bold;
}


/* Thumbnail size image */
.thumbs {
    width: 100px;
    height: 100px;
}